.wrapper {
    text-align: center;
    margin: 30px;
    padding: 10px;
    position: static;
}

.form {
    padding: 3em;
    width: 320px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin: 20px auto 40px;
}

.songLyrics {
    margin: 10px 100px;
    padding: 20px;
    line-height: 1.6;
    column-count: 3;
}

.inputs {
    display: block;
}

.input {
    display: block;
    margin: 5px;
    padding: 5px;
}

.submit {
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    border: none;
}
