.wrapper {
    text-align: center;
    margin: 30px;
    padding: 10px;
    position: static;
}

.container {
    /* position: absolute; */
    /* text-align: center; */
    /* transform: translate(-50%, -50%); */
    /* top: 50%; */
    /* left: 50%; */
    /* margin: 10px auto; */
}

.form {
    padding: 3em;
    width: 320px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin: 20px auto 40px;
}

.songLyrics {
    margin: 10px 100px;
    padding: 20px;
    line-height: 1.6;
    column-count: 3;
}
